@import "font";
@import "helper";

$link_color: #00b7ff;
$white_text: #FFF;
$lgrey: #eaeaea;
$grey_text: #b1b1b1;
$dark_grey_text: #aeaeae;
$line_grey: #dedede;
$font_family: 'San Francisco', Helvetica, Arial, san-serif;

html, body{
    font-family: $font_family !important;
}

.img-thumbnail {
  width: 200px;
}

.container {
  margin-top: 20px;
}
#caption {
  text-align: center;
}
.dropdown-menu{
    border-top: 4px solid $line_grey;
    color: $grey_text;
    display: none;
    width: 30rem;
    overflow-y: auto;
    max-height: 580px;
    .notification_container{
        margin:0;
        padding:0;
        h3{
            padding-left: 12px;
            font-weight: normal;
            font-size: 1.8rem;
            margin: 0px 0 10px 0;
            padding: 5px 5px 10px 10px;
            border-bottom: 1px solid $line_grey;
        }
        .hero{
            list-style-type: none;
            margin:0;
            padding:0;
            .head{
                font-size: 2rem;
            }
                li{
                    margin:0;
                    padding:0;
                    border: 0;
                    .count{
                        color: $link_color;
                        font-size: 2.5rem;
                        text-align: right;
                    }
                    .task{
                        padding-top: 8px;
                    }
                    .more_link{
                        display: block;
                        padding: 20px 0 10px 0;
                    }
                }
        }
    }
    
    li{
        clear: both;
        padding: 10px 25px 10px 20px;
        margin: 0 0 0 2px;
        position: relative;
        border-bottom: 1px solid #dedede;
        h4{
            font-size: 1.2rem;
            font-weight: bold;
            color: #000;
        }
        a{
            color: $link_color;
            font-size: 1.1rem;
        }
        p{
            font-size: 1.2rem;
        }
        .close{
            margin:0;
            padding:0;
            background: transparent;
            border:0;
            position: absolute;
            right: 8px;
            top: 0;
            color: $dark_grey_text;
            font-size: 1.6rem;
        }
    }
}
.open .dropdown-menu {
    display: block;
    
}

.talk-bubble {
	margin: 40px;
  display: inline-block;
  position: relative;
	width: 300px;
	height: auto;
	background-color: $lgrey;
    position: absolute;
    right: 350px;
    
}
.round{
  border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;

}
.tri-right.border.right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -40px;
  top: 30px;
	bottom: auto;
	border: 20px solid;
	border-color: #666 transparent transparent #666;
}
.tri-right.right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -20px;
  top: 38px;
	bottom: auto;
	border: 12px solid;
	border-color: $lgrey transparent transparent $lgrey;
}

/* talk bubble contents */
.talktext{
  padding: 1em;
	text-align: left;
  line-height: 1.5em;
}
.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

// Small Screens
@media (max-width: 767px){
    .dropdown-menu{
        li{
            h4{
                font-size: 1.2rem;
                color: $white_text;
            }
        }
    }
    .talk-bubble{
        display: none;
    }
    
}